<script>
	import { onMount } from "svelte";
	import lottie from "lottie-web";

	export let animationData;

	onMount(async () => {
		lottie.loadAnimation({
			container: document.getElementById("animation_container"),
			renderer: "svg",
			loop: false,
			autoplay: true,
			animationData,
			preserveAspectRatio: "xMinYMid meet"
		});
	});
</script>

<div id="animation_container" />

<style>
	#animation_container {
		height: 100vh;
		overflow: hidden;
	}
</style>
