<script lang="ts">
	import { onMount } from "svelte";
	import Animation from "$lib/Animation.svelte";

	export let animationData: any;
	export let aqiColor: string;

	onMount(() => (document.getElementById("container").style = `--aqi-color: ${aqiColor}`));
</script>

<main id="container">
	<Animation {animationData} />
	<a class="box" href="/">Check another city</a>
</main>

<style>
	main {
		display: flex;
		justify-content: left;
		background: var(--bg);
		background: linear-gradient(90deg, var(--aqi-color) 50.05%, var(--bg) 50.05%);
	}
	a {
		position: absolute;
		top: 3vh;
		right: 3vw;
	}
</style>
