<slot />

<style>
	:root {
		--bg: #000;
		--fg: #fff;
		--gray: #808080;
	}
	:global(body) {
		margin: 0;
		width: 100vw;
		height: 100vh;
		color: var(--fg);
		background: var(--bg);
		font-family: Arial, Helvetica, sans-serif;
	}
	:global(.box) {
		color: var(--fg);
		background: var(--bg);
		font-size: 2rem;
		border: solid 1px var(--fg);
		padding: 1rem;
		text-decoration: none;
	}
	:global(.box):hover:not(select) {
		background: var(--fg);
		color: var(--bg);
	}
</style>
