<script>
	import { goto } from "$app/navigation";
	import cities from "$lib/cities";
	let selectedCity = "";
</script>

<img src="https://algo.tv/airquality/algoLogo.png" alt="Algo logo" />

<h1>Algo, data and air quality</h1>

<footer>Made with &lt;3 by leeoocca</footer>

<main>
	<form
		on:submit={(e) => {
			e.preventDefault();
			goto(`/${selectedCity}`);
		}}
	>
		<select class="box" bind:value={selectedCity}>
			<!-- <optgroup /> continents -->
			<option value="" hidden selected disabled>Select a city</option>
			{#each cities as city}
				<option value={city}>{city}</option>
			{/each}
		</select>
		<button type="submit" class="box" disabled={selectedCity.length === 0}>OK</button>
	</form>
</main>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
	}
	form {
		display: flex;
	}
	select,
	button {
		font-size: 4rem;
	}
	select {
		background: var(--bg);
		border: solid 1px var(--fg);
		padding: 1rem;
		text-decoration: none;
		color: var(--fg);
		flex: 1;
	}
	option {
		color: var(--gray);
	}
	option:hover {
		color: var(--fg);
		background: transparent;
	}
	img,
	h1,
	footer {
		display: block;
		position: absolute;
	}
	img {
		margin-top: 0.8rem;
		top: 5vh;
		left: 3vw;
	}
	h1 {
		font-size: 1.5rem;
		right: 3vw;
		top: 5vh;
	}
	footer {
		bottom: 2vh;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		color: var(--gray);
	}
</style>
